<html>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Slideshow Blog</title>
	<head>
		<link rel="icon" type="image/png" href="yamba_launcher.png" />
		<link rel="stylesheet" type="text/css" media="screen and (min-device-width: 1024px)" href="theme0.css">
		<link rel="stylesheet" type="text/css" media="screen and (max-device-width: 1023px)" href="theme_mobile.css">
		<script src="jquery-1.11.3.min.js"></script>

		<script src="theme.jq.js"></script>
	</head>
	<body>
		<div class="heading">
			<h1>Slideshow Blog</h1>
			<!--p id="swipeCounter">000</p-->
			
			<div class="navdiv inner">
				<ul class="navlist">
					<li><a href="index.html">HOME</a></li>
					<li><a href="detailpage.html">DETAIL PAGE</a></li>
					<li><a href="alternate.html">ALTERNATE STYLE</a></li>
					<li><a href="neoninternet.html">NEON INTERNET</a></li>
					<li><a href="Canvas/index.html">CANVAS</a></li>
				</ul>
			</div>
			
		</div>
		
		<div class="navdiv outer">
			<ul class="navlist">
				<li><a href="index.html">HOME</a></li>
				<li><a href="detailpage.html">DETAIL PAGE</a></li>
				<li><a href="alternate.html">ALTERNATE STYLE</a></li>
				<li><a href="neoninternet.html">NEON INTERNET</a></li>
				<li><a href="Canvas/index.html">CANVAS</a></li>
			</ul>
		</div>
		
		<div class="maindiv">
			<div id="slideViewPort">
			<div id="slideViewer">
				<div id="slideshow">
					<div id="s1" class="slide" 
					style="background-image: url(slides/photos/01-buckingham.jpg);">
						<a href="detailpage.html"><p class="caption">1. Buckingham Palace</p></a>
						<a href="https://en.wikipedia.org/wiki/Buckingham_Palace" target="_blank"><p class="subcap">More information available at Wikipedia</p></a>
						</div>
					<div id="s2" class="slide"
					style="background-image: url(slides/photos/02-stonehenge.jpg);">
						<a href="detailpage.html"><p class="caption">2. Stonehenge</p></a>
						<a href="https://en.wikipedia.org/wiki/Stonehenge" target="_blank"><p class="subcap">More information available at Wikipedia</p></a>
						</div>
					<div id="s3" class="slide"
					style="background-image: url(slides/photos/03-luxembourg.jpg);">
						<a href="detailpage.html"><p class="caption">3. Luxembourg Gardens</p></a>
						<a href="https://en.wikipedia.org/wiki/Jardin_du_Luxembourg" target="_blank"><p class="subcap">More information available at Wikipedia</p></a>
						</div>
					<div id="s4" class="slide"
					style="background-image: url(slides/photos/04-rome.jpg);">
						<a href="detailpage.html"><p class="caption">4. Palatine Hill</p></a>
						<a href="https://en.wikipedia.org/wiki/Palatine_Hill" target="_blank"><p class="subcap">More information available at Wikipedia</p></a>
						</div>
					<div id="s5" class="slide"
					style="background-image: url(slides/photos/05-positano.jpg);">
						<a href="detailpage.html"><p class="caption">5. Positano</p></a>
						<a href="https://en.wikipedia.org/wiki/Positano" target="_blank"><p class="subcap">More information available at Wikipedia</p></a>
						</div>
				</div>
			</div>
				<button class="btnNav btnPN btnPrevSlide"><img src="prevArrow.png"></button>
				<button class="btnNav btnPP"><img src="pause.png"></button>
				<button class="btnNav btnPN btnNextSlide"><img src="nextArrow.png"></button>
			</div>

			<h2>Heading of one post</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pellentesque risus et dolor consequat, vel aliquet magna pulvinar. Sed accumsan augue sapien, in eleifend dolor venenatis eu. Nunc bibendum feugiat condimentum. Curabitur vel enim nunc. Aliquam ultricies, magna sit amet tempor iaculis, velit purus dignissim lorem, ut tincidunt purus dolor in libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis sed elementum sapien, sit amet scelerisque erat. In dictum ex et augue porta, quis laoreet nunc aliquam. Sed ac cursus metus. Nam dignissim velit non convallis gravida. Curabitur nec metus vel nibh gravida semper.</p>
			<p>Maecenas at arcu suscipit, lobortis magna et, ornare mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc placerat ornare posuere. Sed felis orci, tempus eu risus nec, placerat aliquam sapien. Nulla a est tortor. Pellentesque eu diam aliquam velit faucibus finibus eget in enim. Nunc sit amet eros in neque euismod rutrum. Etiam accumsan enim eu magna scelerisque aliquet. Proin tempus purus vitae libero auctor, sit amet pharetra leo scelerisque.</p>
			<p>Ut metus leo, condimentum nec nisl mollis, porta semper augue. Donec et turpis at sapien volutpat rutrum. Duis varius pharetra gravida. Phasellus ac consectetur quam. Sed pulvinar, enim sed dapibus mollis, ipsum lorem accumsan turpis, eu suscipit mi erat sed libero. Ut in dapibus tortor, quis convallis dui. Sed pharetra egestas quam eget lobortis.</p>
			<p>Suspendisse rutrum venenatis arcu ut eleifend. Maecenas egestas bibendum facilisis. Sed dapibus massa sed vehicula sodales. Maecenas vitae metus non libero vehicula semper. Pellentesque gravida massa sed consectetur molestie. In a sapien varius, vestibulum tellus non, interdum nibh. Sed eleifend a tellus in aliquam. Phasellus eget dolor mi.</p>
			<p>Sed tristique cursus neque, eget elementum augue hendrerit imperdiet. In id malesuada ligula, egestas feugiat enim. Vestibulum at mi facilisis, auctor quam sit amet, cursus leo. Etiam in aliquam elit. Phasellus auctor ultrices ipsum, eu placerat quam vehicula a. Nullam pellentesque sapien lorem, non ultrices magna faucibus et. Aliquam semper a justo sit amet faucibus. Ut id nisi lacus. Nullam tincidunt elit rhoncus semper scelerisque.</p>
		</div>
		
		<div class="otherdiv">
			<p>Test text test text</p>
		</div>
		
		<div class="footer">
			<p>Footer copyright Aaron Saraco</p>
		</div>
	</body>
</html>