<div class="subdiv">
	<div id="listofposts">
		<div class="blogSmall" ng-repeat="blogpost in blogposts">
			<a href="#/reviews/{{blogpost._id}}"><img class="blogImageSmall" ng-src="../../res/img/coverimages/{{blogpost.image}}" alt="{{blogpost.artist}} - {{blogpost.album}}"></img></a>
			<p class="blogType">{{blogpost.blogtype}}</p>
			<h2>{{blogpost.artist}} - {{blogpost.album}}</h2>
			<h4>by {{blogpost.author}}</h4>
			<article ng-bind-html="blogpost.summary"></article>
			<ul class="tagsList">
				<!-- li><p class="tagsHead">TAGS:</p></li-->
				<li class="tag" ng-repeat="tag in blogpost.tags.t" ng-click="tagApply('t', tag)">{{tag}}</li>
				<li class="tag tagGenre" ng-repeat="tag in blogpost.tags.tGen" ng-click="tagApply('tGen', tag)">{{tag}}</li>
				<li class="tag tagArtist" ng-repeat="tag in blogpost.tags.tArt" ng-click="tagApply('tArt', tag)">{{tag}}</li>
			</ul>
			<div class="clearfixdiv"></div>
		</div>
	</div>
</div>
