<html>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<head>
		<link rel="stylesheet" type="text/css" href="theme.css">
	</head>
	<body>
		<div class="neon">
			<h1>NEON INTERNET</h1>
		</div>
		
		<div class="navdiv">
			<ul class="navlist">
				<li><a href="index.html">HOME</a></li>
				<li><a href="detailpage.html">DETAIL PAGE</a></li>
				<li><a href="neoninternet.html">NEON INTERNET</a></li>
			</ul>
		</div>
		<div class="maindiv">
			<h2>The Internet Is Neon</h2>
			<table>
			</table>
		</div>
		<div class="otherdiv">
			<p>Test text test text</p>
		</div>
		
		<div class="footer">
			<p>Footer copyright Aaron Saraco</p>
		</div>
	</body>
</html>