<div>
	<div class="paper">

		<div class="nameblock">
			<h1>Aaron Saraco</h1>
			<ul class="horizontalUl">
				<li>[Home Address]</li>
				<li>[Phone Number]</li>
				<li>sirlemming@gmail.com</li>
			</ul>
		</div>
		
		<div class="section">
			<h2>Summary</h2>
			Experienced Java-based software developer looking for programming and design opportunities. Significant experience working with distribution industry ERP applications as well as deep skills in GUI design, development and implementation. Strong team player and fast learner, with experience collaborating cross-functionally and supporting internal teams, business partners, and customers.
		</div>
		
		<div class="section">
			<h2>Work Experience</h2>
			<ul>
				<li>September 2007 to June 2016 - Vormittag Associates, Inc. - Ronkonkoma, NY
					<ul>
						<li>Worked with a large team of developers to incorporate new features into an established suite of distribution industry ERP applications, including CRM, E-business and salesforce modules.</li>
						<li>Responsible for design, development and delivery of GUI software updates, utilizing JWalk, in response to back-end program changes. Balanced and prioritized requests from internal programmers, business partners, and direct customers.</li>
						<li>Implemented and troubleshooted Java, JSP, & Dojo code in highly modular web applications based on IBM WebSphere Portal (an implementation of JavaServer Faces & J2EE), allowing customers to run E-commerce websites and cloud-based ERP over their existing SQL databases.</li>
						<li>Debugged and modified applications in response to direct communications with customers and project leaders, Helpdesk support tickets, and the QA department.</li>
						<li>Performed full hardware and firmware setup of medium-scale IBM servers for customers, in order to streamline and standardize the installation of our web application suite.</li>
						<li>Used VMWare software for local staging and remote management of web application environments distributed across several networked virtual machines, running both Windows and SuSE Linux.</li>
						<li>Performed installations and upgrades of Apache HTTP Server and OpenSSL in order to keep our customers current with security patches.</li>
						<li>Responsible for implementing major server software upgrades with minimal downtime on live customer sites.</li>
						<li>Adapted my skill set for a short-term application development project using TigerLogic Omnis Studio.</li>
						<li>Used version control software and intranet Wiki pages to coordinate projects with my team.</li>
					</ul>
				</li>
				<!--li>Fall 2003 to Spring 2007 - Messiah College Work-Study Program - Grantham, PA
					<ul>
						<li>Provided janitorial services and developed effective time management strategies.</li>
					</ul>
				</li-->
			</ul>
		</div>
		
		<div class="section">
			<div class="pRight"><br><br>May 2007</div>
			<h2>Education</h2>
			<ul>
				<li><p>Bachelor of Arts in Computer Science</p>
					<ul>
						<li>Messiah College, Grantham, PA</li>
						<li>GPA: 3.68 / 4.0</li>
						<li>Magna Cum Laude</li>
					</ul>
				</li>
			</ul>
		</div>
		
		<div class="section">
			<h2>Relevant Skills & Activities</h2>
			<ul>
				<li>Programming in Java, JavaScript, HTML, XML, CSS, jQuery, and Visual Basic using Eclipse, plain text editors, and other development environments.</li>
				<li>Completed courses in Angular.js, jQuery, Ruby and more on CodeSchool.com.</li>
				<li>GUI application design and engineering in Rocket JWalk/LegaSuite screen-scraper software.</li>
				<li>General knowledge of SQL, Dojo, C++, COBOL, ActionScript, Assembly, and other languages.</li>
				<li>Digital manipulation of pixel graphics, vector graphics, art, and typography in Adobe Photoshop, Illustrator, Flash, and similar applications.</li>
				<!--li>Worked on a two-person team that coded algorithms for rendering water in Java under OpenGL, from scratch.  <br>Also designed and coded the GUI used to present the project.</li-->
				<!--li>Digital manipulation of audio, single and multi-track, in Cakewalk Sonar, Audacity, and GoldWave.</li>
				<li>Digital editing of video in Windows Movie Maker.</li-->
			</ul>
		</div>

		<!--
		<div class="section">
			<h2>Other Activities</h2>
			<ul>
				<li>Programmed a small Visual Basic game in one night.</li>
				<li>Worked on a two-person team that coded algorithms for rendering water in Java under OpenGL, from scratch.  <br>Also designed and coded the GUI used to present the project.</li>
			</ul>
		</div>
		-->

	</div>
		
</div>