<div class="subdiv">
	<div id="slideViewPort">
		
		<div ng-cloak id="slideViewer" slide-player>
		
			<div ng-cloak id="slideshow">				
				<div ng-cloak ng-repeat="slide in slides" id="{{slide.sid}}" class="slide" style="background-image: url({{slide.simage}});">
					<a href="{{slide.slink1}}"><p class="caption">{{slide.scap1}}</p></a>
					<div class="slideGrad"></div>
					<a href="{{slide.slink2}}" target="_blank"><p class="subcap">{{slide.scap2}}</p></a>
				</div>
			</div>
			
			<button class="btnNav btnPN btnPrevSlide">
				<svg class="svgNavB" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" version="v1.1"
					xmlns:xlink="http://www.w3.org/1999/xlink">
					<use xlink:href="#nextArrow"/>
				</svg>
			</button>
			<button class="btnNav btnPP">
				<svg class="svgNavB2" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" version="v1.1"
					xmlns:xlink="http://www.w3.org/1999/xlink">
					<use xlink:href="#pauseLns"/>
				</svg>
			</button>
			<button class="btnNav btnPN btnNextSlide">
				<svg class="svgNavB" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" version="v1.1"
					xmlns:xlink="http://www.w3.org/1999/xlink">
					<use xlink:href="#nextArrow"/>
				</svg>
			</button>
		</div>
		
	</div>

	<div class="blogpost">
		<article>
			<h2>European Vacation!</h2>
			<p>I went on vacation once and took a bunch of pictures! Look at 'em!</p>
		</article>
	</div>
</div>