<div class="albumdetails">

	<a href ng-click="closeAlbum()">x</a>

	<div class="albumart">
		<img id="currentCover" ng-src="{{currentAlbum.coverimage}}"/>
		<img id="prevCover" ng-src="{{prevAlbum.coverimage}}" ng-hide="hidePrev"/>
	</div>

	<div class="albuminfo">
		<div class="infoheader">
			<div class="leftinfo">
				<h2>{{currentAlbum.artist}}</h2>
				<h3>{{currentAlbum.albumtitle}}</h3>
			</div>
			<div class="rightinfo">
				<p align="right">{{currentAlbum.released}}</p>
				<p align="right">{{currentAlbum.genre}}</p>
			</div>
		</div>
		
		<div class="trackinfo">
			<ol class="tracklist">
				<li ng-repeat="track in currentAlbum.tracks">{{track}}</li>
			</ol>
		</div>
		
		<div class="userdata">
			<p>Rating: {{currentAlbum.rating}}</p>
			<p>{{currentAlbum.comments}}</p>
		</div>
	</div>

</div>