<!-- Floating Edit toolbar for privileged user mode -->
<div id="editBar">
	<ul>
		<li><a href="#" id="editMain"><svg viewBox="0 0 140 140" xmlns="http://www.w3.org/2000/svg" version="v1.1"
				xmlns:xlink="http://www.w3.org/1999/xlink">
				<use xlink:href="#editPencil"/>
			</svg></a></li>
	</ul>
	<ul>
		<li><a href="#" id="editUpdate"><svg viewBox="0 0 140 140" xmlns="http://www.w3.org/2000/svg" version="v1.1"
				xmlns:xlink="http://www.w3.org/1999/xlink">
				<use xlink:href="#uploadArrow"/>
			</svg></a></li>
	</ul>
</div>