<div class="navdiv inner">
	<ul class="navlist">
		<li><a id="aHamburger">
			<svg class="svgNavHome" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg" version="v1.1"
					xmlns:xlink="http://www.w3.org/1999/xlink">
					<use xlink:href="#navDownArrow"/>
			</svg></a></li>
		<li><a ng-href="#/blog">
			<svg class="svgNavHome" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg" version="v1.1"
					xmlns:xlink="http://www.w3.org/1999/xlink">
					<use xlink:href="#navHome"/>
			</svg><span>BLOG</span></a></li>
		<li><a ng-href="#/resume">
			<svg class="svgNavHome" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg" version="v1.1"
					xmlns:xlink="http://www.w3.org/1999/xlink">
					<use xlink:href="#navResume"/>
			</svg><span>RESUME</span></a></li>
		<li><a ng-href="#/musicapp">
			<svg class="svgNavHome" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg" version="v1.1"
					xmlns:xlink="http://www.w3.org/1999/xlink">
					<use xlink:href="#navMusic"/>
			</svg><span>MUSIC DATABASE</span></a></li>
		<li><a ng-href="#/musicapp2">
			<svg class="svgNavHome" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg" version="v1.1"
					xmlns:xlink="http://www.w3.org/1999/xlink">
					<use xlink:href="#navGallery"/>
			</svg><span>MUSIC GALLERY</span></a></li>
		<!--li><a href="detailpage.html">DETAIL PAGE</a></li>
		<li><a href="alternate.html">ALTERNATE STYLE</a></li>
		<li><a href="Canvas/index.html">CANVAS</a></li-->
	</ul>
	<div id="loginBox">
		<form id="loginForm" class="logForm">
			<label>USERNAME</label><input id="username" required autofocus></input>
			<label>PASSWORD</label><input type="password" id="password" required></input>
			<input type="submit" id="bLogin" class="bLog" value="LOGIN"/>
			<span id="loginAlert"></span>
		</form>
		<form id="logoutForm" class="logForm">
			<label id="loginMessage">Logged in as {{username}}</label>
			<input type="submit" id="bLogout" class="bLog" value="LOGOUT"/>
		</form>
	</div>
</div>