<div class="subdiv">

	<div class="blogpost">
		<section class="blogheader">
			<figure>
				<img class="reviewAlbumCover" ng-src="../../res/img/coverimages/{{blogpost.image}}" alt="{{blogpost.artist}} - {{blogpost.album}}"></img>
				<figcaption><ul><li>{{blogpost.year}}</li><li>{{blogpost.label}}</li></ul></figcaption>
			</figure>
			<div class="reviewHeader">
				<h2>Album Review</h2>
				<span class="rhArtist">{{blogpost.artist}}</span> <span class="rhAlbum">{{blogpost.album}}</span>
				<h4>by {{blogpost.author}}</h4>
				<ul class="tagsList">
					<!-- li><p class="tagsHead">TAGS:</p></li-->
					<li class="tag">Music</li>
					<li class="tag">Review</li>
					<li class="tag tagGenre">Rock</li>
					<li class="tag tagGenre">Electronic</li>
					<li class="tag tagGenre">Pop</li>
					<li class="tag">Remix</li>
					<li class="tag tagArtist">Mutemath</li>
					<li class="tag tagArtist">Disero</li>
					<li class="tag tagArtist">Hasta</li>
					<li class="tag tagArtist">Yacht Club</li>
					<li class="tag tagArtist">Flint Eastwood</li>
					<li class="tag tagArtist">Imagined Herbal Flows</li>
					<li class="tag tagArtist">JT Daly</li>
					<li class="tag tagArtist">Kasbo</li>
				</ul>
			</div>
		</section>
		
		<article ng-bind-html="blogpost.text">
			
		</article>
	
	</div>
	
</div>