* {	box-sizing: border-box; }
body {
	font-family: Verdana, Arial, sans-serif;
	background: linear-gradient(180deg, #dddddd, #eeeeee);
}
h2 {
	font-size: 2em;
	padding-top: 0;
}
a {
	text-decoration: none;
}