$baRegBG: #aaaaaa;
$baRegFG: #000000;
$baErrBG: #ffaaaa;
$baErrFG: #330000;
$baOkBG: #aaffaa;
$baOkFG: #003300;

blog-crud {
	display: none;
	position: fixed;
	top: 5%;
	left: 5%;
	z-index: 100;
	width: 90%;
	height: 90%;
	background-color: rgba(#111111, 0.9);
	color: $fgDark;
	input, select {
		min-width: 13em;
		}
}

#bcExp {
	color: $fgDark;
	font-size: 0.75em;
	padding: 1em;
	}

#blogAlert {
	display: inline-block;
	background-color: $baRegBG;
	color: $baRegFG;
	border-radius: 1em;
	padding: 0.5em 1em;
	margin: 0.5em;
	min-height: 2.25em;
	width: 98%;
	visibility: hidden;
	&.error {
		background-color: $baErrBG;
		color: $baErrFG; 
		}
	&.ok {
		background-color: $baOkBG;
		color: $baOkFG;
		}
	}

#crudClose {
	border: none;
	position: absolute;
	right: 2em;
	bottom: 2em;
	font-weight: bold;
	background: none;
	color: white;
	cursor: pointer;
	}
#crudPreview {
	color: white;
	}

@include respond-to($breakpointType, $breakpoint2) {
	blog-crud {
		width: 100%;
		height: 100%;
		div {
			display: block;
			width: 100%;
			}
		label {
			text-align: left;
			}
		#bcExp {
			display: none;
			}
		}
}

#crudForm {
	display: inline;
	div {
		display: inline-block;
	}
	#cfSection1 {
		width: 25%;
		label {
			font-size: 0.8em;
			display: inline-block;
			min-width: 12em;
			text-align: right;
			vertical-align: top;
			padding-right: 1em;
			}
		}
	#cfSection2 {
		width: 70%;
		textarea {
			width: 100%;
			height: 100%;
			}
		}
}

.bcInput {
	&:focus {
		background-color: $inpFocusBG;
		}
	}
.bcButton {
	border: none;
	background-color: #555555;
	color: #ffffff;
	&:focus, &:hover {
		background-color: #ccffcc;
		color: #333333;
		}
	}