@import '_mixins';

$blogLightBG: #ffffff;
$blogDarkBG: #000000;
$blogLightFG: #333333;
$blogDarkFG: #eeeeee;

$tagDarkText: rgba(255, 255, 255, 1);
$tagLightText: rgba(0, 0, 0, 1);
$tagGrey: rgba(100, 100, 100, 1);
$tagPurple: rgba(128, 64, 128, 1);
$tagBlue: rgba(64, 64, 128, 1);
	
.subdiv {
display: inline-block;
width: 100%;
}

.tagsList {
	text-align: left;
	list-style: none;
	border-top: 1px solid $fgMed;
	padding: 2% 0;
	margin: 0 5%;
	li {
		display: inline-block;
		margin-right: 1em;
		}
	}
.tagsHead {
	color: black;
	text-align: left;
	display: none;
	}
.tag {
	border-radius: 10px;
	padding: 5px 12px;
	box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0);
	font-size: 0.5em;
	background: $tagGrey;
	color: $tagDarkText;
	transition: box-shadow 0.1s;
	&:hover {
		box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.4);
		}
	/*&:after {
		content: " X";
		color: rgba(0, 0, 0, 0.5);
		}
	&:before {
		content: " X";
		color: rgba(0, 0, 0, 0);
		}*/
	}
.tagGenre {
	background: $tagPurple;
	}
.tagArtist {
	background: $tagBlue;
	}

figure {
	background: black;
	color: white;
	padding: 1%;
	margin: 2%;
	max-width: 30%;
	float: right;
	figcaption {
		font-family: Verdana, Arial, sans-serif;
		font-variant: small-caps;
		margin: 0.2em 0.2em 0 0.2em;
		text-align: center;
		input {
			font-family: inherit;
			font-variant: inherit;
			color: inherit;
			background-color: rgba(0,0,0,0);
			display: inline-block;
			max-width: 45%;
			text-align: center;
			&:focus {
				background-color: #ffffdd;
				color: black;
				}
			}
		ul {
			margin: 0;
			padding: 0;
			text-align: center;
				li {
					display: inline-block;
					margin: 0.2em 0.75em 0 0.75em;
				}
			}
		}
	.reviewAlbumCover {
		max-width: 100%;
	}
	@include respond-to($breakpointType, $breakpoint3) {
		figcaption {
			font-size: 0.7em;
			}
		}
	@include respond-to($breakpointType, $breakpoint2) {
		display: block;
		min-width: 100%;
		margin: 0;
		float: none;
		figcaption {
			font-size: 1em;
			}
		.reviewAlbumCover {
			display: block;
			max-width: 60%;
			margin: 5% auto 0 auto;
			}
	}
}

.blogpost {
	display: block;
	margin: auto;
	width: 70%;
	@include respond-to($breakpointType, $breakpoint4) {
		width: 80%;
		}
	@include respond-to($breakpointType, $breakpoint2) {
		width: 100%;
		margin: 0;
		padding: 0;
	}
}

.blogheader {
	display: inline-block;
	width: 100%;
	margin: 0;
	background: $bgLight - #111111;
	box-shadow: 0px -1px 5px 1px rgba(0, 0, 0, 0.5) inset;
	input {
		border: none;
		border-bottom: 2px solid black;
		}
	@include respond-to($breakpointType, $breakpoint2) {
		display: block;
		width: 100%;
	}
	.reviewHeader {
		display: inline-block;
		float: right;
		position: relative;
		padding: 3em 0 0 0;
		min-width: 62%;
		max-width: 66%;
		text-align: center;
		color: $fgLight;
		@include respond-to($breakpointType, $breakpoint4) {
			padding: 2em 0 0 0;
		}
		@include respond-to($breakpointType, $breakpoint2) {
			padding: 0;
			min-width: 100%;
			display: block;
			float: none;
		}
		h2 {
			margin: 0;
			font-family: "Old Standard TT", "Times New Roman", serif;
			font-size: 6em;
			}
		.rhArtist, .rhAlbum {
			display: inline-block;
			margin: 0;
			font-family: Verdana, Arial, sans-serif;
			font-size: 2em;
			max-width: 45%;
			&:focus {
				background: linear-gradient(0deg, rgba(255,255,100,0.75), rgba(0,0,0,0))
				}
			&[disabled] {
				border: none;
				background: none;
				color: $fgLight;
				}
			}
		.rhArtist {
			font-weight: bold;
			text-align: right;
			padding-right: 0.25em;
			}
		.rhAlbum {
			text-align: left;
			padding-left: 0.25em;
			}
		h4 {
			font-family: "Old Standard TT", "Times New Roman", serif;
			font-style: italic;
			}
		@include respond-to($breakpointType, $breakpoint5) {
			h2 {
				font-size: 4em;
				}
			}
		@include respond-to($breakpointType, $breakpoint3) {
			h2 {
				font-size: 3em;
				}
			.rhArtist, .rhAlbum {
				font-size: 1.8em;
				}
			h4 {
				margin: 1em 0 1em 0;
				}
		}
	}
}

article {
	padding: 1in 1.25in 1in 1.25in;
	background: #ffffff;
	font-size: 1.2em;
	line-height: 1.75em;
	font-family: Tiempos, "Times New Roman", serif;
	@include respond-to($breakpointType, $breakpoint4) {
		font-size: 1em;
		padding: 0.4in 0.8in 0.8in 0.8in;
		}
	@include respond-to($breakpointType, $breakpoint2) {
		font-size: 0.9em;
		padding: 0.25in 0.5in 0.5in 0.5in;
		}
	ul li {
		line-height: 1.5em;
		margin-bottom: 1em;
		}	
	}

.articleEdit {
	@extend article;
	width: 100%;
	display: none;
	&:focus {
		background: #ffffdd;
		}
	}

.blogSmall {
	@extend .blogpost;
	margin: 1% auto;
	padding: 0.5%;
	min-height: 275px;
	background: $bgLight;
	transition: all 0.25s;
	&:hover {
		box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5);
		}
	h2, h4 {
		margin: 0;
		}
	article {
		font-size: 0.8em;
		padding: 0;
		margin: 1% 1% 1% 26%;
		font-family: Verdana, Arial, sans-serif;
		border-top: 1px solid $fgMed;
		border-bottom: 1px solid $fgMed;
		}
	.blogImageSmall {
		float: left;
		max-width: 25%;
		margin-right: 1%;
		}
	.blogType {
		float: right;
		margin: 1%;
		text-transform: uppercase;
		}
	.tagsList {
		padding: 0;
		margin: 1%;
		border-top: none;
		cursor: pointer;
		}
	@include respond-to($breakpointType, $breakpoint4) {
		width: 100%;
		article {
			margin-left: 1%;
			}
		h4 {
			margin-bottom: 6%;
			}
		.blogImageSmall {
			max-width: 10%;
			}
		.blogType {
			margin-bottom: 10%;
			}
		}
	}