@import '_mixins';

$fgLight: #333333;
$fgMed: #aaaaaa;
$fgDark: #eeeeee;
$bgLight: #ffffff;
$bgMed: #666666;
$bgDark: #333333;
$inpFocusBG: #ffffaa;

/*.maindiv {
	margin-top: 1.4in;
	@include respond-to($breakpointType, $breakpoint3) {
		margin-top: 0.85in;
	}
}*/

input:focus {
	background-color: $inpFocusBG;
	}

#headFiller {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
	width: 100%;
	height: 1.25in;	//this gets overridden immediately by JS
	}

#headTitle {
	display: inline-block;
	margin: 0.4em 0;
	#mainLogo img {
		max-height: 2.5em;
		margin: 0 0.5em;
		transform: translateY(5%);
		@include respond-to($breakpointType, $breakpoint3) {
			max-height: 1.5em;
			}
		}
}

.heading {
text-align: left;
font-size: 1.5em;
background: $bgLight;
box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.2);
transition: box-shadow 0.1s, opacity 0.1s, color 0.1s;
width: 100%;
top: 0;
z-index: 10;
position: fixed;
&:hover {
background: rgba(255, 255, 255, 1.0);
}
h1 {
display: inline-block;
color: $fgLight;
margin: 0;
font-size: 1.75em;
top: 50%;
transform: translateY(-25%);
@include respond-to($breakpointType, $breakpoint3) {
	font-size: 1em;
	}
&:hover {
color: black;
}
}
}

.poweredby {
	position: absolute;
	text-align: right;
	top: 7%;
	right: 1%;
	padding: 0.1in 0.1in 0 0;
	font-size: 0.5em;
	color: $fgMed;
	@include respond-to(min-width, $breakpoint3) {
		a:nth-child(2):after {
			content: "\A";
			white-space: pre;
			}
		}
	@include respond-to($breakpointType, $breakpoint2) {
		display: none;
	}
	img {
		vertical-align: middle;
		}
	.imgLg {
		width: 5em;
		}
	.imgMd {
		display: none;
		}
	@include respond-to($breakpointType, $breakpoint3) {
		.imgLg {
			display: none;
			}
		.imgMd {
			display: inline-block;
			height: 2em;
			}
		}
		
}

.footer {
background-color: $bgMed;
color: $fgMed;
/*margin: 0.5em 0 0 0;*/
text-align: center;
padding: 0.25in 0.25in 0.25in 0.25in;
@include respond-to($breakpointType, $breakpoint3) {
	font-size: 0.6em;
	}
}

#slideViewPort {
	width: 100%;
	margin: 0;
	display: block;
}
#slideViewer {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
	text-align: center;
	transition: box-shadow 0.5s;
	overflow: hidden;
	&:hover {
		box-shadow: 0 0 20px rgba(0,0,0,0.7);
		}
}
#slideshow {
	z-index: -1;
}
.slide {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	a {
		text-decoration: none;
		}
}
.slideGrad {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 50%);
}
.caption {
	font-family: Verdana, Arial, sans-serif;
	text-decoration: none;
	font-size: 3em;
	@include respond-to($breakpointType, $breakpoint3) {
		font-size: 2em;
		}
	@include respond-to($breakpointType, $breakpoint2) {
		font-size: 1.5em;
		}
	font-variant: small-caps;
	color: #ffffff;
	margin: 0.65em 0 0 1em;
	position: relative;
	white-space: nowrap;
	text-align: left;
	transition: text-shadow 0.5s, color 0.5s;
	z-index: 1;
	&:hover {
		text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
		color: #ffffaa
		}
	}
.subcap {
	font-family: Verdana, Arial, sans-serif;
	text-decoration: none;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
	font-size: 1em;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	bottom: 0;
	margin: 0;
	width: 100%;
	padding: 0.5em 0.5em 0.8em 0.8em;
	white-space: nowrap;
	text-align: left;
	transition: text-shadow 0.5s, color 0.25s;
	&:hover {
		text-shadow: 0px 0px 50px rgba(0, 0, 255, 1);
		color: #00ffff;
		}
	}
.btnNav  {
	position: relative;
	height: 100%;
	top: 0px;
	padding: 0;
	vertical-align: top;
	cursor: pointer;
	background: transparent;
	border: none !important;
	outline: none !important;
	z-index: 0;
	svg {
		opacity: 0.0;
		transition: opacity 0.25s, transform 0.05s;
		}
	.svgNavB {
		height: 80px;
		width: 80px;
		}
	.svgNavB2 {
		height: 120px;
		width: 120px;
		}
	.btnHide {
		visibiity: hidden;
		}
	}
.btnPrevSlide {
	float: left;
	svg {
		transform: scale(-1,1);
	&:hover {
		transform: scale(-1.1,1.1);
			}
		}
	}
.btnNextSlide {
	float: right;
	svg:hover {
		transform: scale(1.1,1.1);
		}
	}