@import '_mixins';

$fgLight: #333333;
$fgMed: #aaaaaa;
$fgDark: #eeeeee;
$bgLight: #ffffff;
$bgMed: #666666;
$bgDark: #333333;
$inpFocusBG: #ffffaa;

/*.maindiv {
	margin-top: 1.4in;
	@include respond-to($breakpointType, $breakpoint3) {
		margin-top: 0.85in;
	}
}*/

input:focus {
	background-color: $inpFocusBG;
	}

#headFiller {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
	width: 100%;
	height: 1.25in;	//this gets overridden immediately by JS
	}

.heading {
text-align: left;
font-size: 1.5em;
background: $bgLight;
box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.2);
transition: box-shadow 0.1s, opacity 0.1s, color 0.1s;
width: 100%;
top: 0;
z-index: 10;
position: fixed;
&:hover {
background: rgba(255, 255, 255, 1.0);
}
h1 {
color: $fgLight;
margin: 0.4em 0 0.4em 1em;
font-size: 1.75em;
@include respond-to($breakpointType, $breakpoint3) {
	margin: 0.4em 0 0.4em 0.6em;
	font-size: 1em;
	}
&:hover {
color: black;
}
}
}

.poweredby {
	position: absolute;
	text-align: right;
	top: 7%;
	right: 1%;
	padding: 0.1in 0.1in 0 0;
	font-size: 0.5em;
	color: $fgMed;
	@include respond-to(min-width, $breakpoint3) {
		a:nth-child(2):after {
			content: "\A";
			white-space: pre;
			}
		}
	@include respond-to($breakpointType, $breakpoint2) {
		display: none;
	}
	img {
		vertical-align: middle;
		}
	.imgLg {
		width: 5em;
		}
	.imgMd {
		display: none;
		}
	@include respond-to($breakpointType, $breakpoint3) {
		.imgLg {
			display: none;
			}
		.imgMd {
			display: inline-block;
			height: 2em;
			}
		}
		
}

.otherdiv {
display: none;
}
.footer {
background-color: $bgMed;
color: $fgMed;
/*margin: 0.5em 0 0 0;*/
text-align: center;
padding: 0.25in 0.25in 0.25in 0.25in;
@include respond-to($breakpointType, $breakpoint3) {
	font-size: 0.6em;
	}
}

/*#ucPopup {
display: none;
position: fixed;
width: 50em;
height: 25em;
top: 0.5in;
right: 0.5in;
z-index: 10;
padding: 0.25in 0.25in 0.25in 0.25in;
text-align: center;
background: rgba(255, 255, 150, 1);
box-shadow: 0px 0px 4px 0px $fgMed;
h1 {
margin-bottom: 0.25in;
font-size: 2em;
}
}

#ucPopupClose {
margin-top: 0.5in;
padding: 0.5em;
background: rgba(255, 255, 0, 1);
border: none;
box-shadow: 0px 5px 4px 0px $fgMed;
font-size: 1.5em;
cursor: pointer;
}*/