@import '_mixins';

$fgLight: #333333;
$fgMed: #aaaaaa;
$fgDark: #eeeeee;
$bgLight: #ffffff;
$bgMed: #666666;
$bgDark: #333333; 

/*.maindiv {
	margin-top: 1.4in;
	@include respond-to($breakpointType, $breakpoint3) {
		margin-top: 0.85in;
	}
}*/

#headFiller {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
	width: 100%;
	height: 1.25in;	//this gets overridden immediately by JS
	}

.heading {
text-align: left;
font-size: 1.5em;
background: $bgLight;
box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.2);
transition: box-shadow 0.1s, opacity 0.1s, color 0.1s;
width: 100%;
top: 0;
z-index: 10;
position: fixed;
&:hover {
background: rgba(255, 255, 255, 1.0);
}
h1 {
color: $fgLight;
margin: 0.4em 0 0.4em 1em;
font-size: 1.75em;
@include respond-to($breakpointType, $breakpoint3) {
	margin: 0.4em 0 0.4em 0.6em;
	font-size: 1em;
	}
&:hover {
color: black;
}
}
}

.poweredby {
	position: absolute;
	right: 0.25in;
	padding: 0.1in 0.1in 0 0;
	font-size: 0.5em;
	color: $fgMed;
	img {
		height: 1.25em;
		}
	@include respond-to($breakpointType, $breakpoint2) {
		display: none;
		}
}

.navdiv {
background: $bgDark;
display: inline-block;
position: relative;
font-size: 0.75em;
width: 100%;
}

.inner {
padding: 0;
margin: 0;
}

.navlist {
list-style-type: none;
margin: 0;
	li {
		display: inline;
		a {
			display: inline-block;
			margin: 0;
			padding: 0.5em 1em 0.5em 0;
			text-decoration: none;
			transition: all 0.75s;
			transition-timing-function: ease-in-out;
			opacity: 1.0;
			span {
				position: relative;
				margin: 0 auto;
				bottom: 7px;
			}
			&:link {
			color: $fgDark;
			}
			&:visited {
			color: $fgDark;
			}
			&:hover {
			color: $fgLight;
			background-color: rgba(220, 220, 255, 0.7);
			transition: color 0.1s, background-color 0.25s;
			}
			&:active {
			color: rgba(180, 200, 180, 0.8);
			transform: scale(1.1,1.1);
			}
		}
	}
	@include respond-to($breakpointType, $breakpoint3) {
		margin: 4px 0 2px 0;
		padding: 0 0 0 0.8em;
		li a {
			padding: 0;
			span {
				display: none;
				}
			}
			.svgNavHome {
				margin: 0;
				}
	}
}

.svgNavHome {
	//display: none;
	display: inline-block;
	height: 30px;
	width: 30px;
	margin: 0 0.5em; 
	@include respond-to($breakpointType, $breakpoint2) {
		padding: 0;
	}
}

#sidebar {
display: none;
z-index: 2;
position: fixed;
left: 0;
width: 4em;
padding: 0 0.5em 0 0.5em;
background: rgba(255, 255, 255, 1.0);
box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
ul {
list-style-type: none;
padding: 0;
li {
display: inline-block;
img {
width: 100%;
transition: all 0.75s;
&:hover {
-webkit-filter: drop-shadow(0px 0px 4px $fgLight);
filter: drop-shadow(0px 0px 4px $fgLight);
transition: all 0.25s;
}
}
}
}
}

#hamburger-menu {
display: none;
width: 4em;
height: 4em;
margin-left: -3.25em;
border: none;
background: none;
cursor: pointer;
position: absolute;
&:hover {
-webkit-filter: drop-shadow(0px 0px 2px $fgMed);
filter: drop-shadow(0px 0px 2px $fgMed);
}
img {
width: 100%;
opacity: 0.5;
}
}

.otherdiv {
display: none;
}
.footer {
background: $bgMed;
color: $fgMed;
/*margin: 0.5em 0 0 0;*/
text-align: center;
padding: 0.25in 0.25in 0.25in 0.25in;
@include respond-to($breakpointType, $breakpoint3) {
	font-size: 0.6em;
	}
}

#ucPopup {
display: none;
position: fixed;
width: 50em;
height: 25em;
top: 0.5in;
right: 0.5in;
z-index: 10;
padding: 0.25in 0.25in 0.25in 0.25in;
text-align: center;
background: rgba(255, 255, 150, 1);
box-shadow: 0px 0px 4px 0px $fgMed;
h1 {
margin-bottom: 0.25in;
font-size: 2em;
}
}

#ucPopupClose {
margin-top: 0.5in;
padding: 0.5em;
background: rgba(255, 255, 0, 1);
border: none;
box-shadow: 0px 5px 4px 0px $fgMed;
font-size: 1.5em;
cursor: pointer;
}