.maindiv {
  margin-top: 1.2in; }

.heading {
  text-align: left;
  font-size: 1.5em;
  background: #fafafa;
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.1s, opacity 0.1s, color 0.1s;
  width: 100%;
  /*height: 1.25in;*/
  top: 0;
  z-index: 10;
  position: fixed; }
  .heading:hover {
    /*box-shadow: 0px 3px 1px 1px rgba(100, 100, 100, 0.4), 0px 4px 6px 5px rgba(0, 0, 0, 0.2);*/
    background: white; }
  .heading h1 {
    color: #333333;
    margin: 0.4em 0 0.4em 1em;
    font-size: 1.75em; }
    @media screen and (max-width: 720px) {
      .heading h1 {
        font-size: 1em; } }
    .heading h1:hover {
      color: #000000; }

.poweredby {
  position: absolute;
  right: 0.25in;
  padding: 0.1in 0.1in 0 0;
  font-size: 0.5em;
  color: #666666; }
  .poweredby img {
    height: 1.5em; }

.navdiv {
  background: #323232;
  display: inline-block;
  position: relative;
  font-size: 0.75em;
  width: 100%; }

.inner {
  padding: 0;
  margin: 0; }

.navlist {
  list-style-type: none;
  margin: 0; }
  .navlist li {
    display: inline; }
    .navlist li a {
      display: inline-block;
      margin: 0;
      padding: 0.5em 1em 0.5em 1em;
      text-decoration: none;
      transition: all 0.75s;
      transition-timing-function: ease-in-out;
      opacity: 1.0; }
      .navlist li a p {
        margin: 0 auto; }
      @media screen and (max-width: 640px) {
        .navlist li a {
          width: 25px;
          height: 25px;
          padding: 0;
          overflow: hidden; }
          .navlist li a p {
            display: none; }
          .navlist li a .svgNavHome {
            position: absolute;
            top: 5px; } }
      .navlist li a:link {
        color: #eeeeee; }
      .navlist li a:visited {
        color: #eeeeee; }
      .navlist li a:hover {
        color: #646464;
        background-color: rgba(220, 220, 255, 0.7);
        transition: color 0.1s, background-color 0.25s; }
      .navlist li a:active {
        color: rgba(180, 200, 180, 0.8);
        transform: scale(1.1, 1.1); }

.svgNavHome {
  display: none;
  height: 50px;
  width: 50px; }
  @media screen and (max-width: 640px) {
    .svgNavHome {
      display: inline-block; } }

#sidebar {
  display: none;
  z-index: 2;
  position: fixed;
  left: 0;
  width: 4em;
  padding: 0 0.5em 0 0.5em;
  background: white;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25); }
  #sidebar ul {
    list-style-type: none;
    padding: 0; }
    #sidebar ul li {
      display: inline-block; }
      #sidebar ul li img {
        width: 100%;
        transition: all 0.75s; }
        #sidebar ul li img:hover {
          -webkit-filter: drop-shadow(0px 0px 4px #333333);
          filter: drop-shadow(0px 0px 4px #333333);
          transition: all 0.25s; }

#hamburger-menu {
  display: none;
  width: 4em;
  height: 4em;
  margin-left: -3.25em;
  border: none;
  background: none;
  cursor: pointer;
  position: absolute; }
  #hamburger-menu:hover {
    -webkit-filter: drop-shadow(0px 0px 2px #555555);
    filter: drop-shadow(0px 0px 2px #555555); }
  #hamburger-menu img {
    width: 100%;
    opacity: 0.5; }

.otherdiv {
  display: none; }

.footer {
  background: rgba(100, 100, 100, 0.5);
  color: #dddddd;
  /*margin: 0.5em 0 0 0;*/
  text-align: center;
  padding: 0.25in 0.25in 0.25in 0.25in; }

#ucPopup {
  display: none;
  position: fixed;
  width: 50em;
  height: 25em;
  top: 0.5in;
  right: 0.5in;
  z-index: 10;
  padding: 0.25in 0.25in 0.25in 0.25in;
  text-align: center;
  background: #ffff96;
  box-shadow: 0px 0px 4px 0px #444444; }
  #ucPopup h1 {
    margin-bottom: 0.25in;
    font-size: 2em; }

#ucPopupClose {
  margin-top: 0.5in;
  padding: 0.5em;
  background: yellow;
  border: none;
  box-shadow: 0px 5px 4px 0px #444444;
  font-size: 1.5em;
  cursor: pointer; }

.subdiv {
  display: inline-block;
  width: 100%; }

.blogpost {
  display: block;
  margin: auto;
  padding: 0.5in 1in 1in 1in;
  width: 70%;
  background: #ffffff;
  font-size: 1.2em;
  font-family: Tiempos, "Times New Roman", serif; }
  .blogpost h2 {
    font-family: Verdana, Arial, sans-serif; }
  .blogpost h3 {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.4em; }
    .blogpost h3:before {
      content: url(/res/img/layout/hsep.svg);
      position: absolute; }
  @media screen and (max-width: 1024px) {
    .blogpost {
      width: 80%;
      font-size: 1em;
      padding: 0.4in 0.8in 0.8in 0.8in; } }
  @media screen and (max-width: 640px) {
    .blogpost {
      width: 100%;
      font-size: 0.9em;
      padding: 0.25in 0.5in 0.5in 0.5in; } }
  .blogpost h2 {
    font-size: 1.8em;
    padding-top: 0; }
  .blogpost h3 {
    font-size: 1em; }

#swipeCounter {
  font-size: 0.8em; }

#slideViewPort {
  width: 100%;
  margin: 0;
  display: block; }

#slideViewer {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: box-shadow 0.5s;
  overflow: hidden; }
  #slideViewer:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); }

#slideshow {
  z-index: -1; }

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover; }
  .slide a {
    text-decoration: none; }

.slideGrad {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.25) 25%, transparent 50%); }

.caption {
  font-family: Verdana, Arial, sans-serif;
  text-decoration: none;
  font-size: 3em;
  font-variant: small-caps;
  color: #ffffff;
  margin: 0.65em 0 0 1em;
  position: relative;
  white-space: nowrap;
  text-align: left;
  transition: text-shadow 0.5s, color 0.5s;
  z-index: 1; }
  @media screen and (max-width: 720px) {
    .caption {
      font-size: 2em; } }
  @media screen and (max-width: 640px) {
    .caption {
      font-size: 1.5em; } }
  .caption:hover {
    text-shadow: 2px 2px 8px black;
    color: #ffffaa; }

.subcap {
  font-family: Verdana, Arial, sans-serif;
  text-decoration: none;
  text-shadow: 0px 0px 2px black;
  text-shadow: 0px 0px 5px black;
  font-size: 1em;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  padding: 0.5em 0.5em 0.8em 0.8em;
  white-space: nowrap;
  text-align: left;
  transition: text-shadow 0.5s, color 0.25s; }
  .subcap:hover {
    text-shadow: 0px 0px 50px blue;
    color: #00ffff; }

.btnNav {
  position: relative;
  height: 100%;
  top: 0px;
  padding: 0;
  vertical-align: top;
  cursor: pointer;
  background: transparent;
  border: none !important;
  outline: none !important;
  z-index: 0; }
  .btnNav svg {
    opacity: 0.0;
    transition: opacity 0.25s, transform 0.05s; }
  .btnNav .svgNavB {
    height: 80px;
    width: 80px; }
  .btnNav .svgNavB2 {
    height: 120px;
    width: 120px; }

.btnPrevSlide {
  float: left; }
  .btnPrevSlide svg {
    transform: scale(-1, 1); }
    .btnPrevSlide svg:hover {
      transform: scale(-1.1, 1.1); }

.btnNextSlide {
  float: right; }
  .btnNextSlide svg:hover {
    transform: scale(1.1, 1.1); }

.paper {
  margin: auto;
  margin-bottom: 1in;
  border: 1px solid #c8c8c8;
  width: 9in;
  height: 12in;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.5s; }
  @media screen and (max-width: 870px) {
    .paper {
      width: 100%;
      height: 100%;
      font-size: 0.9em;
      margin: 0;
      box-shadow: none;
      transition: none; } }
  @media screen and (max-width: 870px) {
    .paper {
      font-size: 0.8em;
      padding: 0.1in 0.1in 0.1in 0.1in; } }
  .paper:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); }
  .paper h1 {
    font-size: 2em;
    margin: 0 0 0.05in 0; }
  .paper h2 {
    font-size: 1.2em;
    font-family: Verdana, Arial, sans-serif;
    font-variant: small-caps;
    background-color: #e6e6e6;
    padding: 0.02in 0.05in 0.02in 0.05in; }
    .paper h2 p {
      margin: 0 0 0 0;
      padding: 0 0 0 0; }

.nameblock {
  margin: 0.25in 0.5in 0.15in 0.5in;
  text-align: center;
  font-family: Verdana, Arial, sans-serif; }
  .nameblock ul {
    list-style-type: circle;
    margin: 0.05in 0 0.02in 0;
    padding: 0.05in 0 0.05in 0;
    border-bottom: 1px solid;
    border-top: 1px solid;
    font-size: 0.75em; }
  .nameblock li {
    display: inline;
    padding: 0 1em 0 1em; }

.section {
  position: relative;
  margin: 0in 0.5in 0.1in 0.5in;
  font-family: Garamond, "Times New Roman", serif; }
  .section ul:not(.reful) {
    margin: 0.10in 0 0 0;
    padding: 0 0 0 0.25in; }
  .section li {
    margin: 0.05in 0 0 0; }
    .section li ul:not(.reful) li {
      margin: 0.05in 0 0 0; }

.pRight {
  /*float: right;*/
  position: absolute;
  top: 0.5em;
  right: 0.5em; }

.reful {
  font-size: 1.2em;
  list-style-type: none;
  margin: 0 0 0.25in -0.35in; }
  .reful ul {
    list-style-type: none;
    font-size: 0.9em; }
    .reful ul li {
      margin: 0 0 0.05in -0.1in; }

* {
  box-sizing: border-box; }

body {
  font-family: Verdana, Arial, sans-serif;
  background: #dddddd;
  display: block;
  margin: 0;
  font-size: 12pt; }

a {
  text-decoration: none; }

#svgDefs {
  display: none; }

svg .sbCirc {
  fill: white; }
svg .sbLine {
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 6px;
  stroke-linecap: round; }
svg .navRect {
  stroke: white;
  stroke-width: 2px; }
svg .navLine {
  stroke: white;
  stroke-width: 2px;
  stroke-linecap: round; }
svg .hsLine {
  stroke: black;
  stroke-width: 5px;
  stroke-linecap: round; }

/*# sourceMappingURL=theme.css.map */
