/*.maindiv {
	margin-top: 1.4in;
	@include respond-to($breakpointType, $breakpoint3) {
		margin-top: 0.85in;
	}
}*/
#headFiller {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), transparent);
  width: 100%;
  height: 1.25in; }

.heading {
  text-align: left;
  font-size: 1.5em;
  background: #ffffff;
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.1s, opacity 0.1s, color 0.1s;
  width: 100%;
  top: 0;
  z-index: 10;
  position: fixed; }
  .heading:hover {
    background: white; }
  .heading h1 {
    color: #333333;
    margin: 0.4em 0 0.4em 1em;
    font-size: 1.75em; }
    @media screen and (max-width: 792px) {
      .heading h1 {
        margin: 0.4em 0 0.4em 0.6em;
        font-size: 1em; } }
    .heading h1:hover {
      color: black; }

.poweredby {
  position: absolute;
  right: 0.25in;
  padding: 0.1in 0.1in 0 0;
  font-size: 0.5em;
  color: #aaaaaa; }
  .poweredby img {
    height: 1.25em; }
  @media screen and (max-width: 640px) {
    .poweredby {
      display: none; } }

.navdiv {
  background: #333333;
  display: inline-block;
  position: relative;
  font-size: 0.75em;
  width: 100%; }

.inner {
  padding: 0;
  margin: 0; }

.navlist {
  list-style-type: none;
  margin: 0; }
  .navlist li {
    display: inline; }
    .navlist li a {
      display: inline-block;
      margin: 0;
      padding: 0.5em 1em 0.5em 0;
      text-decoration: none;
      transition: all 0.75s;
      transition-timing-function: ease-in-out;
      opacity: 1.0; }
      .navlist li a span {
        position: relative;
        margin: 0 auto;
        bottom: 7px; }
      .navlist li a:link {
        color: #eeeeee; }
      .navlist li a:visited {
        color: #eeeeee; }
      .navlist li a:hover {
        color: #333333;
        background-color: rgba(220, 220, 255, 0.7);
        transition: color 0.1s, background-color 0.25s; }
      .navlist li a:active {
        color: rgba(180, 200, 180, 0.8);
        transform: scale(1.1, 1.1); }
    .navlist li #aHamburger {
      padding: 0.5em 0;
      cursor: pointer; }
  @media screen and (max-width: 792px) {
    .navlist {
      margin: 4px 0 2px 0;
      padding: 0 0 0 0.8em; }
      .navlist li a {
        padding: 0; }
        .navlist li a span {
          display: none; }
      .navlist .svgNavHome {
        margin: 0; } }

.svgNavHome {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 0 0.5em; }
  @media screen and (max-width: 640px) {
    .svgNavHome {
      padding: 0; } }

#sidebar {
  display: none;
  z-index: 2;
  position: fixed;
  left: 0;
  width: 4em;
  padding: 0 0.5em 0 0.5em;
  background: white;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25); }
  #sidebar ul {
    list-style-type: none;
    padding: 0; }
    #sidebar ul li {
      display: inline-block; }
      #sidebar ul li img {
        width: 100%;
        transition: all 0.75s; }
        #sidebar ul li img:hover {
          -webkit-filter: drop-shadow(0px 0px 4px #333333);
          filter: drop-shadow(0px 0px 4px #333333);
          transition: all 0.25s; }

#hamburger-menu {
  display: none;
  width: 4em;
  height: 4em;
  margin-left: -3.25em;
  border: none;
  background: none;
  cursor: pointer;
  position: absolute; }
  #hamburger-menu:hover {
    -webkit-filter: drop-shadow(0px 0px 2px #aaaaaa);
    filter: drop-shadow(0px 0px 2px #aaaaaa); }
  #hamburger-menu img {
    width: 100%;
    opacity: 0.5; }

.otherdiv {
  display: none; }

.footer {
  background-color: #666666;
  color: #aaaaaa;
  /*margin: 0.5em 0 0 0;*/
  text-align: center;
  padding: 0.25in 0.25in 0.25in 0.25in; }
  @media screen and (max-width: 792px) {
    .footer {
      font-size: 0.6em; } }

#ucPopup {
  display: none;
  position: fixed;
  width: 50em;
  height: 25em;
  top: 0.5in;
  right: 0.5in;
  z-index: 10;
  padding: 0.25in 0.25in 0.25in 0.25in;
  text-align: center;
  background: #ffff96;
  box-shadow: 0px 0px 4px 0px #aaaaaa; }
  #ucPopup h1 {
    margin-bottom: 0.25in;
    font-size: 2em; }

#ucPopupClose {
  margin-top: 0.5in;
  padding: 0.5em;
  background: yellow;
  border: none;
  box-shadow: 0px 5px 4px 0px #aaaaaa;
  font-size: 1.5em;
  cursor: pointer; }

#loginBox {
  display: none;
  background-color: #333333;
  color: #eeeeee;
  font-size: 0.75em;
  padding-left: 2.5em; }
  #loginBox .logForm input {
    border-radius: 5px;
    margin: 1em;
    padding: 0.1em 0.4em; }
  #loginBox .logForm label {
    min-width: 10em;
    text-align: center;
    margin: 1em; }
  #loginBox .logForm .bLog {
    background-color: #eeeeee;
    color: #333333;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 0.3em 0.8em;
    cursor: pointer; }
    #loginBox .logForm .bLog:hover {
      color: black; }
  #loginBox .logForm #loginAlert {
    color: #aaffaa; }

#logoutForm {
  display: none; }

.subdiv {
  display: inline-block;
  width: 100%; }

.tagsList {
  text-align: left;
  list-style: none;
  border-top: 1px solid #aaaaaa;
  padding: 2% 0;
  margin: 0 5%; }
  .tagsList li {
    display: inline-block;
    margin-right: 1em; }

.tagsHead {
  color: black;
  text-align: left;
  display: none; }

.tag {
  border-radius: 10px;
  padding: 5px 12px;
  box-shadow: 0 1px 1px 1px transparent;
  font-size: 0.5em;
  background: #646464;
  color: white;
  transition: box-shadow 0.1s;
  /*&:after {
  	content: " X";
  	color: rgba(0, 0, 0, 0.5);
  	}
  &:before {
  	content: " X";
  	color: rgba(0, 0, 0, 0);
  	}*/ }
  .tag:hover {
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.4); }

.tagGenre {
  background: #804080; }

.tagArtist {
  background: #404080; }

figure {
  background: black;
  color: white;
  padding: 1%;
  margin: 2%;
  max-width: 30%;
  float: right; }
  figure figcaption {
    font-family: Verdana, Arial, sans-serif;
    font-variant: small-caps; }
    figure figcaption ul {
      margin: 0;
      padding: 0;
      text-align: center; }
      figure figcaption ul li {
        display: inline-block;
        margin: 0.2em 0.75em 0 0.75em; }
  figure .reviewAlbumCover {
    max-width: 100%; }
  @media screen and (max-width: 792px) {
    figure figcaption {
      font-size: 0.7em; } }
  @media screen and (max-width: 640px) {
    figure {
      display: block;
      min-width: 100%;
      margin: 0;
      float: none; }
      figure figcaption {
        font-size: 1em; }
      figure .reviewAlbumCover {
        display: block;
        max-width: 60%;
        margin: 5% auto 0 auto; } }

.blogpost {
  display: block;
  margin: auto;
  width: 70%; }
  @media screen and (max-width: 1024px) {
    .blogpost {
      width: 80%; } }
  @media screen and (max-width: 640px) {
    .blogpost {
      width: 100%;
      margin: 0;
      padding: 0; } }

.blogheader {
  display: inline-block;
  width: 100%;
  margin: 0;
  background: #eeeeee;
  box-shadow: 0px -1px 5px 1px rgba(0, 0, 0, 0.5) inset; }
  @media screen and (max-width: 640px) {
    .blogheader {
      display: block;
      width: 100%; } }
  .blogheader .reviewHeader {
    display: inline-block;
    float: right;
    position: relative;
    padding: 3em 0 0 0;
    min-width: 62%;
    max-width: 66%;
    text-align: center;
    color: #333333; }
    @media screen and (max-width: 1024px) {
      .blogheader .reviewHeader {
        padding: 2em 0 0 0; } }
    @media screen and (max-width: 640px) {
      .blogheader .reviewHeader {
        padding: 0;
        min-width: 100%;
        display: block;
        float: none; } }
    .blogheader .reviewHeader h2 {
      margin: 0;
      font-family: "Old Standard TT", "Times New Roman", serif;
      font-size: 6em; }
    .blogheader .reviewHeader .rhArtist, .blogheader .reviewHeader .rhAlbum {
      display: inline-block;
      margin: 0;
      font-family: Verdana, Arial, sans-serif;
      font-size: 2em; }
    .blogheader .reviewHeader .rhArtist {
      font-weight: bold;
      text-align: right;
      padding-right: 0.25em; }
    .blogheader .reviewHeader .rhAlbum {
      text-align: left;
      padding-left: 0.25em; }
    .blogheader .reviewHeader h4 {
      font-family: "Old Standard TT", "Times New Roman", serif;
      font-style: italic; }
    @media screen and (max-width: 1360px) {
      .blogheader .reviewHeader h2 {
        font-size: 4em; } }
    @media screen and (max-width: 792px) {
      .blogheader .reviewHeader h2 {
        font-size: 3em; }
      .blogheader .reviewHeader .rhArtist, .blogheader .reviewHeader .rhAlbum {
        font-size: 1.8em; }
      .blogheader .reviewHeader h4 {
        margin: 1em 0 1em 0; } }

article {
  padding: 1in 1.25in 1in 1.25in;
  background: #ffffff;
  font-size: 1.2em;
  line-height: 1.75em;
  font-family: Tiempos, "Times New Roman", serif; }
  @media screen and (max-width: 1024px) {
    article {
      font-size: 1em;
      padding: 0.4in 0.8in 0.8in 0.8in; } }
  @media screen and (max-width: 640px) {
    article {
      font-size: 0.9em;
      padding: 0.25in 0.5in 0.5in 0.5in; } }
  article ul li {
    line-height: 1.5em;
    margin-bottom: 1em; }

#swipeCounter {
  font-size: 0.8em; }

#slideViewPort {
  width: 100%;
  margin: 0;
  display: block; }

#slideViewer {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: box-shadow 0.5s;
  overflow: hidden; }
  #slideViewer:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); }

#slideshow {
  z-index: -1; }

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover; }
  .slide a {
    text-decoration: none; }

.slideGrad {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.25) 25%, transparent 50%); }

.caption {
  font-family: Verdana, Arial, sans-serif;
  text-decoration: none;
  font-size: 3em;
  font-variant: small-caps;
  color: #ffffff;
  margin: 0.65em 0 0 1em;
  position: relative;
  white-space: nowrap;
  text-align: left;
  transition: text-shadow 0.5s, color 0.5s;
  z-index: 1; }
  @media screen and (max-width: 792px) {
    .caption {
      font-size: 2em; } }
  @media screen and (max-width: 640px) {
    .caption {
      font-size: 1.5em; } }
  .caption:hover {
    text-shadow: 2px 2px 8px black;
    color: #ffffaa; }

.subcap {
  font-family: Verdana, Arial, sans-serif;
  text-decoration: none;
  text-shadow: 0px 0px 2px black;
  text-shadow: 0px 0px 5px black;
  font-size: 1em;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  padding: 0.5em 0.5em 0.8em 0.8em;
  white-space: nowrap;
  text-align: left;
  transition: text-shadow 0.5s, color 0.25s; }
  .subcap:hover {
    text-shadow: 0px 0px 50px blue;
    color: #00ffff; }

.btnNav {
  position: relative;
  height: 100%;
  top: 0px;
  padding: 0;
  vertical-align: top;
  cursor: pointer;
  background: transparent;
  border: none !important;
  outline: none !important;
  z-index: 0; }
  .btnNav svg {
    opacity: 0.0;
    transition: opacity 0.25s, transform 0.05s; }
  .btnNav .svgNavB {
    height: 80px;
    width: 80px; }
  .btnNav .svgNavB2 {
    height: 120px;
    width: 120px; }
  .btnNav .btnHide {
    visibiity: hidden; }

.btnPrevSlide {
  float: left; }
  .btnPrevSlide svg {
    transform: scale(-1, 1); }
    .btnPrevSlide svg:hover {
      transform: scale(-1.1, 1.1); }

.btnNextSlide {
  float: right; }
  .btnNextSlide svg:hover {
    transform: scale(1.1, 1.1); }

blog-crud {
  display: none;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 75%;
  min-height: 75%;
  background-color: rgba(17, 17, 17, 0.9);
  color: #eeeeee; }

#bcExp {
  color: #eeeeee;
  font-size: 0.75em;
  padding: 1em; }

.dCrud label {
  font-size: 0.8em;
  display: inline-block;
  min-width: 12em;
  text-align: right;
  vertical-align: top;
  padding-right: 1em; }

#blogAlert {
  display: inline-block;
  background-color: #aaaaaa;
  color: #000000;
  border-radius: 1em;
  padding: 0.5em 1em;
  margin: 0.5em;
  min-height: 2.25em;
  width: 98%;
  visibility: hidden; }
  #blogAlert.error {
    background-color: #ffaaaa;
    color: #330000; }
  #blogAlert.ok {
    background-color: #aaffaa;
    color: #003300; }

#taTxt {
  width: 80%;
  height: 50%; }

#crudClose {
  border: none;
  position: absolute;
  right: 2em;
  bottom: 2em;
  font-weight: bold;
  background: none;
  color: white;
  cursor: pointer; }

.paper {
  margin: 1in auto;
  border: 1px solid #c8c8c8;
  width: 9in;
  height: 12in;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.5s; }
  @media screen and (max-width: 870px) {
    .paper {
      width: 100%;
      height: 100%;
      font-size: 0.9em;
      margin: 0;
      box-shadow: none;
      transition: none; } }
  @media screen and (max-width: 870px) {
    .paper {
      font-size: 0.8em;
      padding: 0.1in 0.1in 0.1in 0.1in; } }
  .paper:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); }
  .paper h1 {
    font-size: 2em;
    margin: 0 0 0.05in 0; }
  .paper h2 {
    font-size: 1.2em;
    font-family: Verdana, Arial, sans-serif;
    font-variant: small-caps;
    background-color: #e6e6e6;
    padding: 0.02in 0.05in 0.02in 0.05in; }
    .paper h2 p {
      margin: 0 0 0 0;
      padding: 0 0 0 0; }

.nameblock {
  margin: 0.25in 0.5in 0.15in 0.5in;
  text-align: center;
  font-family: Verdana, Arial, sans-serif; }
  .nameblock ul {
    list-style-type: circle;
    margin: 0.05in 0 0.02in 0;
    padding: 0.05in 0 0.05in 0;
    border-bottom: 1px solid;
    border-top: 1px solid;
    font-size: 0.75em; }
  .nameblock li {
    display: inline;
    padding: 0 1em 0 1em; }

.section {
  position: relative;
  margin: 0in 0.5in 0.1in 0.5in;
  font-family: Garamond, "Times New Roman", serif; }
  .section ul:not(.reful) {
    margin: 0.10in 0 0 0;
    padding: 0 0 0 0.25in; }
  .section li {
    margin: 0.05in 0 0 0; }
    .section li ul:not(.reful) li {
      margin: 0.05in 0 0 0; }

.pRight {
  /*float: right;*/
  position: absolute;
  top: 0.5em;
  right: 0.5em; }

.reful {
  font-size: 1.2em;
  list-style-type: none;
  margin: 0 0 0.25in -0.35in; }
  .reful ul {
    list-style-type: none;
    font-size: 0.9em; }
    .reful ul li {
      margin: 0 0 0.05in -0.1in; }

* {
  box-sizing: border-box; }

body {
  font-family: Verdana, Arial, sans-serif;
  background: #dddddd;
  display: block;
  margin: 0;
  font-size: 12pt; }

a {
  text-decoration: none; }

#svgDefs {
  display: none; }

svg .sbCirc {
  fill: white; }
svg .sbLine {
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 6px;
  stroke-linecap: round; }
svg .navRect {
  stroke: #eeeeee;
  stroke-width: 2px;
  fill: #333333; }
svg .navLine {
  stroke: #eeeeee;
  stroke-width: 2px;
  stroke-linecap: round; }
svg .navFill {
  fill: #eeeeee; }
svg .hsLine {
  stroke: black;
  stroke-width: 5px;
  stroke-linecap: round; }

/*# sourceMappingURL=theme.css.map */
