* {
  box-sizing: border-box; }

body {
  font-family: Verdana, Arial, sans-serif;
  background: #dddddd;
  display: block;
  margin: 0;
  font-size: 12pt; }

a {
  text-decoration: none; }

.maindiv {
  margin-top: 1.25in; }

.heading {
  margin: -0.5em -0.3em 0.5em -0.5em;
  padding: 0.5em 0.5em 0em 2.2em;
  text-align: left;
  font-size: 1.5em;
  background: #fafafa;
  color: #333333;
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.1s, opacity 0.1s, color 0.1s;
  width: 105%;
  /*height: 1.25in;*/
  top: 0;
  z-index: 1;
  position: fixed; }
  .heading:hover {
    box-shadow: 0px 3px 1px 1px rgba(100, 100, 100, 0.4), 0px 4px 6px 5px rgba(0, 0, 0, 0.2);
    background: white;
    color: #000000; }
  .heading h1 {
    margin: 0.2em 0 0 0.5em;
    font-size: 1.75em; }

.poweredby {
  position: absolute;
  right: 1in;
  padding: 0.1in 0.1in 0 0;
  font-size: 0.5em;
  color: #666666; }
  .poweredby img {
    height: 1.5em; }

.navdiv {
  display: inline-block;
  position: relative;
  font-size: 0.75em;
  width: 100%; }

.inner {
  padding: 0;
  margin: 0; }

.navlist {
  list-style-type: none;
  padding: 0;
  margin-left: 1.2em;
  font-weight: bold; }
  .navlist li {
    display: inline; }
  .navlist a {
    display: inline-block;
    padding: 0 2.5em 0 0;
    text-decoration: none;
    text-shadow: 0px 1px 3px rgba(0, 0, 2, 0.6);
    perspective: 10px;
    perspective-origin: 100%;
    transition: color 0.75s, background-color 0.75s, opacity 0.75s, transform 0.1s;
    transition-timing-function: ease-in-out;
    opacity: 0.5; }
    .navlist a:link {
      color: #000000; }
    .navlist a:visited {
      color: #000000; }
    .navlist a:hover {
      color: white;
      text-shadow: 0px 1px 10px rgba(0, 0, 200, 0.6);
      transition: color 0.1s, background-color 0.25s; }
    .navlist a:active {
      color: rgba(180, 200, 180, 0.8);
      transform: scale(1.1, 1.1); }

#sidebar {
  display: none;
  z-index: 2;
  position: fixed;
  left: 0;
  width: 4em;
  padding: 0 0.5em 0 0.5em;
  background: white;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25); }
  #sidebar ul {
    list-style-type: none;
    padding: 0; }
    #sidebar ul li {
      display: inline-block; }
      #sidebar ul li img {
        width: 100%;
        transition: all 0.75s; }
        #sidebar ul li img:hover {
          -webkit-filter: drop-shadow(0px 0px 4px #333333);
          filter: drop-shadow(0px 0px 4px #333333);
          transition: all 0.25s; }

#hamburger-menu {
  display: none;
  width: 4em;
  height: 4em;
  margin-left: -3.25em;
  border: none;
  background: none;
  cursor: pointer;
  position: absolute; }
  #hamburger-menu:hover {
    -webkit-filter: drop-shadow(0px 0px 2px #555555);
    filter: drop-shadow(0px 0px 2px #555555); }
  #hamburger-menu img {
    width: 100%;
    opacity: 0.5; }

.otherdiv {
  display: none; }

.footer {
  background: rgba(100, 100, 100, 0.5);
  color: #dddddd;
  margin: 0.5em 0 0 0;
  text-align: center;
  padding: 0.25in 0.25in 0.25in 0.25in; }

#ucPopup {
  display: none;
  position: fixed;
  width: 50em;
  height: 25em;
  top: 0.5in;
  right: 0.5in;
  z-index: 10;
  padding: 0.25in 0.25in 0.25in 0.25in;
  text-align: center;
  background: #ffff96;
  box-shadow: 0px 0px 4px 0px #444444; }
  #ucPopup h1 {
    margin-bottom: 0.25in;
    font-size: 2em; }

#ucPopupClose {
  margin-top: 0.5in;
  padding: 0.5em;
  background: yellow;
  border: none;
  box-shadow: 0px 5px 4px 0px #444444;
  font-size: 1.5em;
  cursor: pointer; }

/*# sourceMappingURL=theme.css.map */
